@import 'variables';
@import 'reset';

body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url('../img/pattern.png');


    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    margin: 1rem;
    max-width: 700px;
}

.loader {
    display: inline-block;
    margin: 0 auto;
    width: $loader-size;
    height: $loader-size;
    border: 20px solid $secondary-color;
    border-top-color: $primary-color;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

.board {
    background-color: #fff;
}

.hidden {
    display: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}